.pytest_cache
.ruff_cache
.scannerwork
.venv
.vscode
build
docs
extras
chora.egg-info
htmlcov
log
site
src/chora/**/__pycache__
src/chora/config/resources/tls/key.pem
tests
.coverage
.editorconfig
.gitignore
.markdownlint.yml
dependency-check-report.html
Dockerfile
Dockerfile.alpine
mkdocs.yml
openapi.json
report.html
sonar-*
